$negro: #252525;
$blanco: white;

main{
    background-color: hsl(0, 0%, 96%);
    margin-bottom: 7vh;

    section{
        min-height: 90vh;
    }

    #inicio{
        background-image: url("../images/pagina/FondoConPortatil.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    
        box-shadow: $negro 0px 4px 12px;
        article{
            margin-top: 15vh;
        }
    }
    #proyectos{
        #filtros{
            position: sticky;
            z-index: 1;
            top: 92px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #2e3439;

            border-bottom: 3px #0d6efd solid;

            div{
                // background-color: $negro;
                // box-shadow: $blanco 0px 1px 1px;
                width: 100%;
                height: 7vh;
                padding: 1vw;
                input{
                    width: 40vw;
                    margin-right: 2vw;
                }
            }
        }
        // PROYECTO INDIVIDUAL
        #projects{
            margin: 1vh 3vw;
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 40px; 

            div{
                height: 40vh;
                h2{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 25vw; /* ajustar según el ancho deseado */
                }
                p{
                    line-height: 1.5; 
                    max-width: 100%; 
                    overflow: hidden; 
                    display: -webkit-box; 
                    -webkit-line-clamp: 6; /* establece el número máximo de líneas */
                    -webkit-box-orient: vertical; 
                }
            }
        }    
    }
}

// RESPONSIVE
@media (max-width: 1344px) {
    #grid {
      grid-template-columns: 1fr !important; 
    }
}