$negro: #252525;

nav{
    position: sticky !important;
    top: 0;
}

main{
    section{
        min-height: 90vh;
    }

    #inicio{
        background-image: url("../images/pagina/FondoConPortatil.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    
        box-shadow: $negro 0px 4px 12px;
        article{
            margin-top: 15vh;
        }
    }
    #proyectos{
        #filtros{
            position: sticky;
            z-index: 1;
            top: 70px;

            display: flex;
            align-items: center;
            justify-content: center;

            div{
                background-color: $negro;
                margin-top: 4vh;
                width: 60vw;
                height: 10vh;
            }
        }
        #grid{
            margin: 1vh 3vw;
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 40px; 

            div{
                height: 40vh;
            }
        }    
    }
}
