main{
    #codigo{
        article{
            height: 30vh;
            width: 80vw;
        }
        iframe{
            height: 40vh;
            width: 80vw;

            border: 1px black solid;
        }
    }
   
}

#info{
    height: 35px;
    width: 35px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}