#tarjetaproy{
    #contenedor{
        position: relative;
    }
    #tipo{
        width: 6vw !important;
        height: 6vh !important;

        position: absolute;
        top: 1vw;
        left: 1vw;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}