#tarjetaproy{

    #contenedor{
        position: relative;
    }
    #tipo{
        width: 6vw !important;
        height: 6vh !important;

        position: absolute;
        top: 1vw;
        left: 1vw;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 25vw; /* ajustar según el ancho deseado */
    }
    p{
        line-height: 1.5; 
        max-width: 100%; 
        overflow: hidden; 
        display: -webkit-box; 
        -webkit-line-clamp: 3; /* establece el número máximo de líneas */
        -webkit-box-orient: vertical; 
    }
}