main{
    #codigo{
        article{
            height: 30vh;
            width: 80vw;
        }
        iframe{
            height: 40vh;
            width: 80vw;

            border: 1px black solid;
        }
    }
}

#comentarios{
    #contenedor{
        min-width: 95vw !important;
    }
    textarea{
        resize: none;
    }
    button{
        width: 100px;
        height: 40px;
    }
}
.fp{
    width: 50px;
}
